<% if @cohort.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>
 
    <ul>
    <% @cohort.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Edit Cohort</h1>

<%= form_for @cohort, url: {action: "update"} do |f| %>
  <%= render partial: "form", locals: {f: f} %>

  <%= submit_tag "Submit", class: "btn btn-default" %>
  <%= link_to "Back", "/teachers", class: "btn btn-default" %>
<% end %>