<div id="attendances">

  <h1>Lecture Profile</h1>
  <h3><%= @lecture.name %></h3>
  <p>Start Time: <%= @lecture.friendly_start_time %></p>
  <p>End Time: <%= @lecture.friendly_end_time %></p>
  <p>Notes: <%= @lecture.notes %></p>
  <div>
    <% if current_student %>
      <button type="button" class="btn btn-default"><%= link_to "Back", "/students" %></button>
    <% elsif current_teacher %>
      <button type="button" class="btn btn-default"><%= link_to "Back", "/cohorts/#{@lecture.cohort_id}" %></button>
      <button type="button" class="btn btn-default"><%= link_to "New Attendance", "/lectures/#{@lecture.id}/attendances/new" %></button>
    <% end %>
    <button type="button" class="btn btn-default"><%= link_to "Edit Lecture", "/lectures/#{@lecture.id}/edit" %></button>
    <button type="button" class="btn btn-default"><%= link_to "Delete Lecture", "/lectures/#{@lecture.id}", method: :delete, data:{confirm: "Are you sure you want to delete this lecture?"} %></button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Student Arrived</th>
        <th>Attendance Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="attendance in attendances" v-show="attendance.attended" >
        <td>{{ attendance.student_name }}</td>
        <td>{{ attendance.display_time }}</td>
        <td>{{ attendance.lecture_attendance }}</td>
        <% if current_teacher %>
          <td><button type="button" class="btn btn-default btn-xs"><%= link_to "Edit", "/lectures/{{ attendance.lecture_id }}/attendances/{{attendance.id}}/edit" %></button></td>
          <td><button type="button" class="btn btn-default btn-xs" v-on:click="deleteAttendance({{ attendance.id }})">Delete</button></td>
        <% end %>
      </tr>
      <input type="hidden" v-model="lecture_id" value="<%= @lecture.id %>"/>
      <% unless @lecture.students.include?(current_student) || current_teacher %>
        <tr class="attendances-checkbox">
          <td><input type="checkbox" v-model="attendance.attended"></td>
          <td><input type="hidden" v-model="attendance.lecture_id" value="<%= @lecture.id %>"></td>
          <td><input type="hidden" v-model="attendance.student_id" value="<%= @current_student_id %>"></td>
          <td><button v-on:click="addAttendance">Attended</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>