<h1>Students Dashboard</h1>
<h3><%= @student.friendly_name %></h3>
<p><%= @student.email %></p>
<p><%= @student.phone %></p>
<p><%= @student.user_type %></p>

<div>
  <p><%= link_to "Edit Profile", "/students/#{@student.id}/edit" %></p>
</div>

<h2>Lectures</h2>
<% @student.cohort.lectures.each do |lecture| %>
  <p>
    <%= link_to lecture.name, "/lectures/#{lecture.id}" %>
  </p>
<% end %>