<h1>Edit Profile</h1>

<%= form_for @teacher, url: {action: "update"} do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  
  <%= f.hidden_field :user_type, value: "teacher" %>
  <%= link_to "Back", "/teachers", class: "btn btn-default" %>
  <%= submit_tag "Submit", class: "btn btn-default" %>
<% end %>