<% if @teacher.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>
 
    <ul>
    <% @teacher.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Teacher Signup!</h1>

<%= form_for @teacher, url: {action: "create"} do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  
  <%= f.hidden_field :user_type, value: "teacher" %>
  <%= submit_tag "Submit", class: "btn btn-default" %>

<% end %>