<h1>Instructor Profile Show</h1>
<h3><%= @teacher.friendly_name %></h3>
<p><%= @teacher.email %></p>
<p><%= @teacher.phone %></p>
<p><%= @teacher.user_type %></p>
<div>
  <p>
    <%= link_to "Edit Profile", "/teachers/#{@teacher.id}/edit" %>
    <%= link_to "Delete Profile", "/teachers/#{@teacher.id}", method: :delete, data:{confirm: "Are you sure you want to delete your teacher profile?"} %>
  </p>
</div>